:root{
    --verde: #2f855a; 
    --verde-osc: #276749;
    --gris: #f4f6f8;
    --borde: #dde3e8;
    --texto: #1f2933;
    --rojo: #c53030;
    --radio:15px;
}

*{box-sizing: border-box;}

body{
    
}